<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="key1" value="融通新材料" />
    <!--<add key="key1" value=" 融通高科（内网)" />-->
    <add key="key2" value="DBInfo.xml" />
  </appSettings>
  <connectionStrings>
    <add name="销售管理.Properties.Settings.mydbConnectionString" connectionString="Data Source=192.168.1.189;Initial Catalog=MYDB_RT_MAT;Persist Security Info=True;User ID=sa;Password=sasa"
      providerName="System.Data.SqlClient" />
    <!--<add name="销售管理.Properties.Settings.mydbConnectionString" connectionString="Data Source=192.168.10.126:1488;Initial Catalog=MYDB;Persist Security Info=True;User ID=sa;Password=sasa"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
